@model FilmMgmtSystem.Entities.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Releaseyear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Releaseyear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rentalduration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rentalduration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Replacementcost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Replacementcost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialfeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialfeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Actorid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Categoryid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language.Languageid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Filmid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
